#title .container-fluid{
  padding: 3% 15%;
}

#features{
  padding: 7% 10%;
  text-align: left;
}

#testimonials {
  background-color: #006129;
}

#press{
  background-color: #ffaa00;
  padding-bottom: 3%;
}

#pricing{
  padding: 100px;
}

#footer{
  padding: 20px 0 20px 0;
}

#cta{
  padding: 0% 25%;
  text-align: center;
}


body{
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3{
  font-family: 'Montserrat-Black';

}

p{
  color: black;
}

/* Heading */

.head1{
  font-size: 3rem;
  line-height: 1.5;
  color: white;
  font-weight: bold;
}

.container-fluid{
  padding: 3% 15%;
}

/* Section */

.colored-section{
  background-color: #08340d;
  color: #fff;
}

.loc-section{
	background-color: #006129;
}

.river-section{
  background-color: #80c6a6;
}

.description-section{
	background-color: #80c6a6;
	height: 35em;
}

.squad-section{
  background-color: #80c6a6;
  text-align: center;
  height: 15em;
}

/* Navigation Bar */
.navbar{
  padding-bottom: 4.5rem;
}

.nav-item{
  padding: 0 20px;
}

.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat-Light";;
}

.navbar-toggler{
  border-color: black;
}

/* Download Buttons */

.donwload-button{
  margin: 5% 3% 5% 0;
}

/* Title Image */
.navio-image{
  border-radius: 10%;
  transform: rotate(0deg);
  height: 270px;
  width: 500px;
  position: absolute;
  right: 5%;
}

.logo-image{
  border-radius: 40px;
  max-width:200px;
  max-height:150px;
  width: auto;
  height: auto;
}

.pote{
  max-width:250px;
  max-height:200px;
  width: auto;
  height: auto;
  border-radius: 10%;
}

.maps-image{
  max-width:700px;
  max-height:550px;
  width: auto;
  height: auto;
  border-radius: 10%;
}

.squad{
	display: flex;
	justify-content: cernter;
	list-style-type: none;
	margin-right: 10em;
}

.squad-image{
	border-radius: 100%;
	max-width: 5em;
	max-height: 5em;
}

.testimonial-image{
  width: auto%;
  border-radius: 10%;
  margin: 20px;
}

.testimonial-text{
  font-size: 3rem;
  line-height: 1.5;
}

.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}

.feature-box{
  padding: 5%;
}

.feature-title{
  font-weight: bold;
}

/* Icon changes */
.icon{
  color: #860500;
  margin-bottom: 1rem;
}

.icon:hover{
  color: #d7805d;
}

.carousel-item{
  padding: 7% 15%;
}

.pricing-col{
  padding: 3% 2%;
}

.btn-dark{
	background-color: #ff9959;
}

table {
	width: 100%;
	border-collapse: collapse;
}

th {
	height: 30px;
	background-color: #006129;
	color: #80c6a6;
}

th, td {
	padding: 10px;
}

tr:hover{
background-color: lightgreen;
}

/* Media queries are a feature of CSS that enable webpage content to adapt to different screen sizes and resolutions. */
@media(max-width: 1028px){
  #title{
    text-align: center;
  }

  .navio-image{
    position: static;
  }

}
